body {
    background:#008fd9;
    color: white;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing:antialiased;
}

header .logo {
    text-align: center;
}

header .logo img {
    max-width:100% !important;
    height:auto;
    display:block;
    margin: auto;
}

header h1 {
    text-align: center;    
}

/* NAV */
button#showRightPush {
    position: absolute;
    top: 26px;
    right: 10px;
    background: none;
    color: #fff;
    border: 0;
    font-size: 2em;
    cursor: pointer;
    outline: none;
    float: left;
}

/* WRAPPER */
#wrapper {
    margin-top: 70px;
}

#wrapper p{
    margin: 10px 0px;
}

    /* marckup */
    pre[class*="language-"] {
        border-radius: 6px !important;
        background: #222!important;
        padding: 1em;
    }

.cbp-spmenu {
	background: #0d77b6;
	position: fixed;
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
    text-align: center;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
    text-decoration: none;
}

.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a:first-child {
	border-top: 1px solid #258ecd;
	padding: 1em;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1em;
}


/* Vertical menu that slides from the left or right */


.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}