body {
    background:#008fd9;
    color: white;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;
}

header .logo {
    text-align: center;
}

header h1 {
    text-align: center;    
}

