/* ========== BASE =========*/


//Demo 
html {
    min-height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
    color: white;
    position: relative;
    background: -webkit-linear-gradient(45deg, #F5936C 10%, #F5709B 90%);
    background: linear-gradient(45deg, #F5936C 10%, #F5709B 90%);
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
    text-align: center;
}

h1 {
    font-size: 4.5em;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 40px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: white;
    font-size: .25em;
    font-weight: 300;
    display: block;
    
    &:hover {
        color: #008fd9;
    }
    
    span {
        font-weight: 500;
    }
}

.block {
    text-align: center;
    font: 15px "Helvetica Neue";
    background: rgba(0,0,0,.1);
    color: rgba(0,0,0,.2);
    padding: 15px 0 15px 0
}

