/*========== VARIABLES ==========*/

// Width columns
$full-width: 100%;

// Media Queries Breakpoints
$medium-screen:      		980px; 
$large-screen:       		1366px; 

// Size of gutter
$gutters: 		0.3em;

// Colors


/*========== MIXINS ==========*/