/*========== GRID ==========*/

* {
    margin: 0;
    padding: 0;
    @include box-sizing(border-box);
}


/*----------  Containers ----------*/

.container {
    margin: auto;
    max-width: $fix-width; // Set de max width on _config.scss of your container
    position: relative;
}

.container_fluid {
    width: $full-width;
}

/*---------- Row ----------*/
.o-row {
    margin-left: -$gutter;
    margin-right: -$gutter;
    
    /* Attribute selector */
    [class*='box'] {
        float: left;
        padding: $gutter;
        width: $full-width; // 
        
        /* Floats last ".box-" to the right */
        &:last-of-type {
            float: right;
        }
        
        /* Fix gutter for nesting boxes */
        & .o-row{
            margin-bottom: -$gutter;
            margin-top: $gutter;
        }
    }
    
    /* Clearfix */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /*---------- REMEMBER: By default all the box has full width ----------- */
    
    /*---------- Small screens ----------- */
    @for $i from $first through $last {
        .box-s-#{$i} {
            width: $full-width / $i;
        }
    }
    
    /*---------- Medium screens ----------- */
    @media screen and (min-width: $medium-screen) {

        @for $i from $first through $last {
            .box-m-#{$i} {
                width: $full-width / $i;
            }
        }

    }
    
    /*---------- Large screens ----------- */
    @media screen and (min-width: $large-screen) {

        @for $i from $first through $last {
            .box-l-#{$i} {
                width: $full-width / $i;
            }
        }

    }
    
}

















