/* ================================ 
GRID STYLES/ESTILOS DE GRILLA 
=================================== */

/* Box Container */
.ovl-container {
    margin: auto;
    max-width: $fix-width; // Set de max width on _config.scss of your container
    position: relative;
}

.ovl-container_fluid {
    width: $full-width;
}

/* Row container */
.ovl-grid {
    margin-left: -$gutter;
    margin-right: -$gutter;
    
    /* Attribute selector */
    [class*='box'] {
        float: left;
        padding: $gutter;
        width: $full-width; // 
        
        /* Floats last ".box-" to the right */
        &:last-of-type {
            float: right;
        }
        
        /* Fix gutter for nesting boxes */
        & .ovl-grid {
            margin-bottom: -$gutter;
            margin-top: $gutter;
        }
    }
    
    /* Clearfix */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /*---------- REMEMBER: By default all the box is full width, but if you want you can modify that ----------- */
    
    // Width for boxes
    @for $i from $first through $last {
        .boxS-#{$i} {
            width: $full-width / $i;
        }
    }
    
    /*---------- Medium screens ----------- */
    @media screen and (min-width: $medium-screen) {

        @for $i from $first through $last {
            .boxM-#{$i} {
                width: $full-width / $i;
            }
        }

    }
    
    /*---------- Large screens ----------- */
    @media screen and (min-width: $large-screen) {

        @for $i from $first through $last {
            .boxL-#{$i} {
                width: $full-width / $i;
            }
        }

    }
    
}

















