/* ================================ 
GRID STYLES/ESTILOS DE GRILLA 
=================================== */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* Box Container */
.ovl-container {
    margin: auto;
    max-width: 1200px;
    position: relative;
}

.ovl-container_fluid {
    width: 100%;
}

/* Row container */
.ovl-grid {
    margin: 0 auto;
    margin-left: -0.3em;
    margin-right: -0.3em;
    
    /* Attribute selector */
    [class*='box'] {
        float: left;
        padding: 0.3em;
        width: 100%;
        
        /* Floats last ".box-" to the right */
        &:last-of-type {
            float: right;
        }
    }
    
    /* Clearfix */
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    
    /*---------- Mobile First ----------- */
    .boxS-75 { width: 75%; }
    .boxS-50  { width: 50%; }
    .boxS-33  { width: 33.33%; }
    .boxS-25  { width: 25%; }
    .boxS-20  { width: 20%; }
    .boxS-16  { width: 16.6666666667%; }
    .boxS-14 { width: 14.2857142857%; }
    .boxS-12  { width: 12.5%; }
    .boxS-11 { width: 11.1111111111%; }
    .boxS-10 { width: 10%; }
    .boxS-9 { width: 9.09090909091%; }
    .boxS-8 { width: 8.33%; }
    
    /*---------- Medium screens ----------- */
    @media screen and (min-width: 980px) {

        .boxM-75 { width: 75%; }
        .boxM-50  { width: 50%; }
        .boxM-33  { width: 33.33%; }
        .boxM-25  { width: 25%; }
        .boxM-20  { width: 20%; }
        .boxM-16  { width: 16.6666666667%; }
        .boxM-14 { width: 14.2857142857%; }
        .boxM-12  { width: 12.5%; }
        .boxM-11 { width: 11.1111111111%; }
        .boxM-10 { width: 10%; }
        .boxM-9 { width: 9.09090909091%; }
        .boxM-8 { width: 8.33%; }

    }
    
    /*---------- Large screens ----------- */
    @media screen and (min-width: 1366px) {

        .boxL-75 { width: 75%; }
        .boxL-50  { width: 50%; }
        .boxL-33  { width: 33.33%; }
        .boxL-25  { width: 25%; }
        .boxL-20  { width: 20%; }
        .boxL-16  { width: 16.6666666667%; }
        .boxL-14 { width: 14.2857142857%; }
        .boxL-12  { width: 12.5%; }
        .boxL-11 { width: 11.1111111111%; }
        .boxL-10 { width: 10%; }
        .boxL-9 { width: 9.09090909091%; }
        .boxL-8 { width: 8.33%; }

    }
    
}

















